*::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    display: flex;
    width: 70vw;
    /* overflow: hidden; */
}
.image-container {
    position: absolute;
    width: 90%;
    padding: 5rem;
    background-color: aquamarine;
}
