*::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

.carousel > ul {
    /* display: flex; */
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide {
    z-index: 1;
    position: absolute;
    inset: 0;
    top: 10%;
    transform: translateY(-5%);
    /* left: 30%; */
    transform: translateX(-15%);
    transition: 600ms left ;
    transition-delay: 50ms;
   
    /* opacity: 0; */
}

/* .slide[data-active] {
    opacity: 1;
} */

.slide > img {
    display: block;
    width: 60vw;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}
.carousel-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    background: none;
    transform: translateY(-50%);
    font-size: 3rem;
    color: rgba(20, 20, 20, .6);
    border: 1px solid rgba(0, 0, 0,.2);
}

.carousel-button:hover {
    background-color: rgba(113, 113, 113, 0.3);
    color: rgba(20, 20, 20, .9);

}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}